.hamburguer {
  display: none;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: white;
  text-transform: uppercase;
  box-shadow: 1px 5px 5px rgba(0,0,0,.2);
  padding: 1.5rem;
  position: fixed;
}

.item {
  float: left;
}

.item .link {
  font-size: 1.3em;
  font-weight: 600;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #686AAC;
}

@media(max-width: 765px) {
  .menu {
    display: none
  }

  .hamburguer {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .item .link {
    display: none;
  }

  .hamburguerOpen {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    list-style-type: none;
    text-transform: uppercase;
    margin-left: 1.3rem;
  }

  .itemOpen .linkOpen {
    font-size: 1.3em;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #686AAC;
  }
}

.header {
  text-align: center;
  color: #fff;
  background: #686AAC;  
}

.header h1 {
  padding-top: 4rem;
  font-size: 2rem;
}

.header img {
  margin: 2rem;
  width: 80%;
  height: 100%;
}

.subtitulo {
  padding: 1rem;
  font-size: 1.5rem;
  height: 700px;
  color: #686AAC;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EDE9E0;
}

.subtitulo p {
  width: 40%;
}

.subtitulo img {
  width: 50vw;
  height: 60vh;
}

.containerSobre iframe {
  width: 560px;
  height: 315px; 
}

.tituloSobre {
  width: 40%;
  font-size: 2rem;
  font-weight: ExtraLight 200;
  color: #686AAC;
}

.containerSobre{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.containerCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.containerCard img {
  width: 350px;
  height: 350px;
}

@media(max-width: 765px) {
  .subtitulo {
    flex-direction: column; 
  }

  .header h1 {
   padding: 2rem;
    font-size: 2rem;
  }

  .subtitulo img {
    margin: 2rem;
    width: 80vw;
    height: 25vh;
  }

  .subtitulo p {
    width: 80%;
  }

  iframe {
    width: 400px;
    height: 220px;
  }

  .tituloSobre {
    width: 80%;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-weight: ExtraLight 200;
  }

  .containerSobre {
    flex-direction: column;
  }

  .containerSobre iframe {
    width: 400px;
    height: 220px;
  }
}