

.playground-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  padding: 20px;
}

.editor-container,
.output-container {
  flex: 1;
  background-color: #444c5e;
  color: #9fa8da;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: auto; /* Adicionado para rolar o conteúdo se necessário */
}

.button-container button {
  background-color: #ce93d8;
  color: #282c34;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ce93d8; /* Adiciona uma borda */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px; /* Adiciona um espaçamento à direita */
  margin-bottom: 20px;
}

.button-container button:hover {
  background-color: #ba68c8;
}

strong {
  color: #ce93d8;
}

h1 {
  font-size: 24px;
  color: #ce93d8;
}

@media (max-width: 600px) {
  .editor-container,
  .output-container {
    font-size: 16px; /* Ajuste conforme necessário */
  }
}
